<p>Welcome <%= @invite.email %>!</p>

<p>You were invited to the group: <%= @invite.group.title %></p>
<p>By: <%= @invite.sender.email %> </p>

<p>You can accept your invitations through the link below:</p>

<p><%= link_to 'Accept invite', "#{ENV['UI_HOST']}/accept-invite?invitation_token=#{@invite.invitation_token}" %></p>
