<p><%= t('notifications.email.invite.title', group: @invite.group.title, sender: @invite.sender.email) %></p>

<p><%= t('notifications.email.invite.content') %></p>

<p><%= link_to t('notifications.email.invite.action'), "#{ENV['UI_HOST']}/accept-invite?invitation_token=#{@invite.invitation_token}" %></p>
