<p><%= t('devise.mailer.confirmation_instructions.title', email: @email) %>!</p>

</br>

<p><%= t('devise.mailer.confirmation_instructions.content') %>'"</p>

<p><%= link_to t('devise.mailer.confirmation_instructions.action'), "#{ENV['UI_HOST']}/confirm-account?confirmation_token=#{@token}" %></p>
