<p><%=t('devise.mailer.password_change.title', email: @resource.email) %>!</p>

</br>

<p><%= t('devise.mailer.password_change.content') %></p>

<p><%= t('devise.mailer.password_change.extra') %></p>
