<p><%= t('devise.mailer.reset_password_instructions.title' ,email: @resource.email) %>!</p>

</br>

<p><%= t('devise.mailer.reset_password_instructions.content') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.action'), "#{ENV['UI_HOST']}/reset-password?reset_password_token=#{@token}" %></p>

<p><%= t('devise.mailer.reset_password_instructions.extra') %></p>
